@import "compass/reset";

// @import "media";

@font-face {
    font-family: 'Releway';
    src: url('../resorces/Releway/raleway-regular-webfont.woff2') format('woff2'),
         url('../resorces/Releway/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Assassin$';
    src: url('../resorces/Assassin/assassin-webfont.woff2') format('woff2'),
         url('../resorces/Assassin/assassin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'OpenSans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 16px;
}
@mixin transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.wrapper {
	max-width: 965px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
	overflow: hidden;
}
/*---------------------------------------*/
header {
	padding: 0 0 20px;
	border-bottom: 3px solid #4183d7;
	background-color: #fff;
	.desctop-menu {
		display: none;
	}
}
.hidden-menu {
  display: block;
  float: left;
  position: absolute;
  list-style:none;
  padding: 50px 0 0 0;
  margin: 0 auto;
  padding: 75px 0 35px 28px;
  text-align: center;
  box-sizing: border-box;
  width: 205px;
  background-color: #4183d7;
  height: auto;
  top: 0;
  left: -250px;
  transition: left .2s;
  z-index: 3;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  li {
    display: block;
    width: 100%;
    height: 43px;
    margin: 0 auto;
    text-align: left;
    line-height: 43px;
    vertical-align: middle;

    a {
    	display: block;
    	width: 100%;
    	height: 100%;
    	color: white;
		font-size: 18px;
		font-weight: 300;
		line-height: 40px;
		text-decoration: none;
		@include transition;

		&:hover {
			color: #132740;
		}
		.active {
			color: #132740;
		}
    }
  }
}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: #fff;
  background-color: none;
  padding: 0;
  position: relative;
  float: left;
  top: 20px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 30px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  z-index: 4;
}
.btn-menu span {
  display: block;
  height: 3px;
  background-color: #4183d7;
  border-radius: 10px;
  margin: 3px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 145px;

  span {
  	background: #fff;
  }
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}
/*logo*/
.logo {
  width: 149px;
  color: #f9690e;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  overflow: hidden;
  margin: 12px auto 0;
  /*float: left;*/
  text-align: center;

  a {
  	color: #f9690e;
  	text-decoration: none;
  }

}
.logo-info,
.right-block {
	display: none;
}
.header-info {
  display: none;
}

/*call-us-block*/
    .call-us-block {
        float: right;
        margin: 10px 10px 0 0;
        line-height: 33px;
        vertical-align: middle;

        img {
          display: inline-block;
	      line-height: 33px;
	      vertical-align: middle;
        }
    }
    #info-mobile {
        width: 217px;
		height: auto;
		background-color: #f9690e;
        clear:none;
        float: right;
        position: absolute;
        top: 70px;
        right: 0;
        z-index: 2;
        @include transition;

        a {
        	display: block;
        	margin: 15px auto;
        	text-align: center;
        	text-decoration: none;
        	.phone {
        		color: white;
				font-size: 22px;
				font-weight: 400;
				line-height: 11px;
        	}
        }
    }
    label {
    	color: #000; 
    	float: right; 
    	cursor: pointer;
    	@include transition;
		.fa-phone {
			font-size: 23px;
    		color: #171c61;
		}
    }
    input{display:none;}
    input:checked+#info-mobile{display:none;}
  /*end dropdown filter*/
/*end menu*/
/*---------------------------------------*/
/*slider*/
.slider {
	margin-top: 0;
	
	.swiper-container {
	    width: 100%;

	    .slider-title {
	    	margin: 16px auto 12px;
	    	text-align: center;
			font-size: 19px;
			font-weight: 400;
			line-height: 12px;
			color: #4183d7;
			span {
				color: #f9690e;
			}
	    }
	}

	.slider-container-main {
		position: relative;
		.slider-bg {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 465px;
			background-image: linear-gradient(to right, white 0%, transparent 100%);
		}
	}

	.swiper-slide {
		margin: 0 auto;
	    text-align: center;
	    font-size: 18px;
	    background: #fff;
	    /* Center slide text vertically */
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	    overflow:hidden;

	    .swiper-button-next,
	    .swiper-button-prev {
	    	display: none !important;
	    }

	    img {
			// width: auto;
	  //   	height: 100%;
			width: auto;
			height: 100%;
			margin-left: 100%;

			@media (min-width: 768px) {
				margin-left: 50%;
			}

			@media (min-width: 1024px) {
				margin-left: 0;
			}
	    }
	    .slide-desc {
		    left: 0;
		    padding-bottom: 20px;
		    position: absolute;
		    bottom: 0;
		    text-align: center;
		    width: 50%;
		    height: 100%;
			display:inline-block;
			background-image: linear-gradient(to right, white 0%, transparent 100%);

			.content-desc {
				max-width: 305px;
				width: 100%;
				padding: 10px;
				position: absolute;
				padding-left: 12px;
				bottom: 0;
				left: 0;
				text-align: left;
				

				&> h1 {
					color: black;
					font-size: 32px;
					font-weight: 400;
					line-height: 36px;
					text-transform: uppercase;
				}
				&> p {
					margin-top: 25px;
				    color: #d72828;
					font-size: 24px;
					font-weight: 400;
					line-height: 28px;
				}
				&> p a.more:hover {
				text-decoration:underline;
				}
			}
		}
	}
}
/*--------------------------------*/
.services {
	padding: 18px 0 24px;
	background: #fff;

	.services-title {
		margin: 0 auto;
		text-align: center;
		color: #f9690e;
		font-size: 19px;
		font-weight: 300;
		line-height: 16px;
	}
	.services-list {
		width: 100%;
		margin: 27px auto 0;
		display: -webkit-flex;
	   display: flex;
	   -webkit-align-items: stretch;
	   align-items: stretch;
	   -webkit-justify-content: center;
	   justify-content: center;
	   -webkit-flex-flow:  wrap;
	   flex-flow:  wrap;
	   -webkit-align-content: center;
	   align-content: center;


		li {
			width: 49%;
			height: 200px;
			margin: 0 0 38px;
			text-align: center;

			.img-link {
				display: block;
				max-width: 103px;
				max-height: 103px;
				width: 100%;
				height: 100%;
				margin: 0 auto 30px;
				text-align: center;
				border-radius: 100%;
				overflow: hidden;

				img {
					max-width: 100%;
					height: auto;
				}
			}

			.sign-link {
				max-width: 120px;
				width: 100%;
				display: block;
				margin: 0 auto;
				text-align: center;
				vertical-align: top;
				color: #4183d7;
				font-size: 14px;
				font-weight: 300;
				text-decoration: none;
				line-height: 14px;
			}
		}
	}
}
/*--------------------------*/
/*--------------------------*/
.about-eurocare {
	padding: 26px 0 23px;
	background-color: #4183d7;

	.eurocare-content {
		margin: 0 auto;
		text-align: center;
		color: white;
		font-size: 18px;
		font-weight: 300;
		line-height: 28px;
	}
}
/*--------------------------*/
/*--------------------------*/
.pre-footer {
	padding: 34px 0 33px;
	background: #fff;
	box-sizing: border-box;
	overflow: hidden;
	border-top: 3px solid #4183d7;

	.site-phone {
		margin: 0 auto;
		text-align: center;
		color: #f9690e;
		font-size: 25px;
		font-weight: 700;
		line-height: 25px;
	}	
	.site-location {
		width: 155px;
		margin: 27px auto 31px;
		text-align: center;
		color: #f9690e;
		font-size: 18px;
		font-weight: 400;
		line-height: 28px;
	}
	.social-icons {
		width: 100%;
		box-sizing: border-box;
		margin: 0 auto;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 15px;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}

			a {
				display: block;
				width: 100%;
				height: 100%;
			}
			.facebook {
				background: url('../images/facebook.png') no-repeat;
			}
			.twitter {
				background: url('../images/twitter.png') no-repeat;
			}
			.google {
				background: url('../images/google.png') no-repeat;	
			}
		}
	}
}
/*--------------------------*/
/*--------------------------*/
footer {
	background-color: #dbdada;

	.copyright {

		h1 {
			margin: 0 auto;
			text-align: center;
			color: #4183d7;
			font: 400 9px / 20px 'Tahoma', sans-serif;

			a {
				color: #4183d7;
				text-decoration: none;
				@include transition;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
/*--------------------------*/
/*---------------inside page--------------*/
/*--------------------------*/
.direction {
	padding: 12px 0 8px;
	background-color: #4183d7;

	a {
		text-decoration: none;
	}

	.direction-img {
		float: left;
	}
	.direction-title {
	    margin: 0 auto;
    	text-align: center;
		color: white;
		font-size: 21px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
	}
}
.testimonials-item {
	width: 100%;
	margin: 26px auto 0;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
	border-bottom: 4px dotted #4183d7;

	.img-block {
		display: block;
		max-width: 140px;
		max-height: 139px;
		margin: 24px auto 0;
		text-align: center;
		overflow: hidden;

		img {
			max-width: 100%;
			height: auto;
		}
	}
	.item-title {
		margin: 23px auto 19px;
		text-align: left;
		color: #4183d7;
		font-size: 22px;
		font-weight: 400;
		line-height: 20px;
	}
	.item-description {
		margin: 0 auto 19px;
		text-align: left;
		color: #4d4c4c;
		font-size: 18px;
		font-weight: 400;
		line-height: 28px;
	}
}
.testimonials-navigation {
	width: 100%;
	margin: 0 auto;
	padding: 31px 0 0;
	text-align: center;

	.numeric-nav {
		padding-bottom: 15px;
		border-bottom: 1px solid #4183d7;

		.nav-list {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			li {
				display: inline-block;
				margin: 0 5px;

				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}

				a {
					font-size: 22px;
					font-weight: 400;
					line-height: 25px;
					color: #6d6f6f;
					text-decoration: none;
					@include transition;
					&:hover {
						color: #4183d7;
					}
				}
			}
		}
	}

	.word-nav {

		.last,
		.next {
			display: block;
			margin-top: 13px;
			color: #626262;
			font: 400 18px / 25px 'Roboto', sans-serif;
			text-transform: capitalize;
			text-decoration: none;
		}
		.last {
			float: left;
		}
		.next {
			float: right;
		}
	}
}
.form-section,
.feedback-section {
	.form-title {
		margin: 64px auto 13px;
		text-align: center;
		color: #4183d7;
		font-size: 18px;
		font-weight: 700;
		line-height: 14px;
	}

	#feedback-form {
		width: 100%;
		box-sizing: border-box;
		overflow: hidden;
	}
	
	.name,
	.email,
	.tel,
	.topic {
		display: block;
		width: 100%;
		height: 33px;
		margin: 13px auto;
		padding-left: 10px;
		color: #6d6f6f;
		font-size: 18px;
		font-weight: 400;
		background-color: white;
		border: 1px solid #4183d7;
		box-sizing: border-box;
	}
	
	
	::-webkit-input-placeholder {
	   color: #6d6f6f;
		font-size: 18px;
		font-weight: 400;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #6d6f6f;
		font-size: 18px;
		font-weight: 400;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #6d6f6f;
		font-size: 18px;
		font-weight: 400;
	}

	:-ms-input-placeholder {  
	   color: #6d6f6f;
		font-size: 18px;
		font-weight: 400;
	}
	.message {
		width: 100%;
		height: 99px;
		padding: 10px 0 0 10px;
		background-color: white;
		border: 1px solid #4183d7;
		box-sizing: border-box;
		color: #6d6f6f;
		font-size: 18px;
		font-weight: 400;
		resize: none;
	}
	.required {
		text-align: left;
		color: #6d6f6f;
		font-size: 15px;
		font-weight: 400;
		line-height: 36px;
	}	

	.send-button {
		display: block; 
		width: 288px;
		height: 35px;
		margin: 0 auto 25px;
		text-align: center;
		color: white;
		font-size: 18px;
		font-weight: 700;
		border: none;
		line-height: 35px;
		cursor: pointer;
		background-color: #f9690e;
	}
}
.contact-content {
	.contact-list {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		box-sizing: border-box;

		li {
			display: block;
			margin: 20px auto;
			text-align: left;
			color: #4d4c4c;
			font-size: 18px;
			line-height: 28px;
			font-weight: 400;
			span {
				font-weight: 700;
			}
		}
	}
}
/*--------------------------*/
.rates-content {
	.rates-list {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		box-sizing: border-box;

		li {
			display: block;
			margin: 20px auto;
			padding: 0 8px;
			text-align: left;
			color: #4d4c4c;
			font-size: 18px;
			line-height: 28px;
			font-weight: 400;
			span {
				font-weight: 700;
			}
			img {
				display: block;
				margin: 0 auto;
				text-align: center;
			}
		}
		.img-item {
			padding: 0;
		}
	}
}
/*--------------------------*/