/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Releway';
  src: url("../resorces/Releway/raleway-regular-webfont.woff2") format("woff2"), url("../resorces/Releway/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Assassin$';
  src: url("../resorces/Assassin/assassin-webfont.woff2") format("woff2"), url("../resorces/Assassin/assassin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 23, ../sass/main_styles.scss */
body {
  font-family: 'OpenSans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 16px;
}

/* line 35, ../sass/main_styles.scss */
.wrapper {
  max-width: 965px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
}

/*---------------------------------------*/
/* line 43, ../sass/main_styles.scss */
header {
  padding: 0 0 20px;
  border-bottom: 3px solid #4183d7;
  background-color: #fff;
}
/* line 47, ../sass/main_styles.scss */
header .desctop-menu {
  display: none;
}

/* line 51, ../sass/main_styles.scss */
.hidden-menu {
  display: block;
  float: left;
  position: absolute;
  list-style: none;
  padding: 50px 0 0 0;
  margin: 0 auto;
  padding: 75px 0 35px 28px;
  text-align: center;
  box-sizing: border-box;
  width: 205px;
  background-color: #4183d7;
  height: auto;
  top: 0;
  left: -250px;
  transition: left .2s;
  z-index: 3;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
/* line 71, ../sass/main_styles.scss */
.hidden-menu li {
  display: block;
  width: 100%;
  height: 43px;
  margin: 0 auto;
  text-align: left;
  line-height: 43px;
  vertical-align: middle;
}
/* line 80, ../sass/main_styles.scss */
.hidden-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 18px;
  font-weight: 300;
  line-height: 40px;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 91, ../sass/main_styles.scss */
.hidden-menu li a:hover {
  color: #132740;
}
/* line 94, ../sass/main_styles.scss */
.hidden-menu li a .active {
  color: #132740;
}

/* line 100, ../sass/main_styles.scss */
.hidden-menu-ticker {
  display: none;
}

/* line 103, ../sass/main_styles.scss */
.btn-menu {
  color: #fff;
  background-color: none;
  padding: 0;
  position: relative;
  float: left;
  top: 20px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 30px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  z-index: 4;
}

/* line 119, ../sass/main_styles.scss */
.btn-menu span {
  display: block;
  height: 3px;
  background-color: #4183d7;
  border-radius: 10px;
  margin: 3px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}

/* line 128, ../sass/main_styles.scss */
.btn-menu span.first {
  margin-top: 0;
}

/* line 131, ../sass/main_styles.scss */
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 145px;
}
/* line 134, ../sass/main_styles.scss */
.hidden-menu-ticker:checked ~ .btn-menu span {
  background: #fff;
}

/* line 138, ../sass/main_styles.scss */
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}

/*logo*/
/* line 142, ../sass/main_styles.scss */
.logo {
  width: 149px;
  color: #f9690e;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  overflow: hidden;
  margin: 12px auto 0;
  /*float: left;*/
  text-align: center;
}
/* line 153, ../sass/main_styles.scss */
.logo a {
  color: #f9690e;
  text-decoration: none;
}

/* line 159, ../sass/main_styles.scss */
.logo-info,
.right-block {
  display: none;
}

/* line 163, ../sass/main_styles.scss */
.header-info {
  display: none;
}

/*call-us-block*/
/* line 168, ../sass/main_styles.scss */
.call-us-block {
  float: right;
  margin: 10px 10px 0 0;
  line-height: 33px;
  vertical-align: middle;
}
/* line 174, ../sass/main_styles.scss */
.call-us-block img {
  display: inline-block;
  line-height: 33px;
  vertical-align: middle;
}

/* line 180, ../sass/main_styles.scss */
#info-mobile {
  width: 217px;
  height: auto;
  background-color: #f9690e;
  clear: none;
  float: right;
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 2;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 192, ../sass/main_styles.scss */
#info-mobile a {
  display: block;
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
}
/* line 197, ../sass/main_styles.scss */
#info-mobile a .phone {
  color: white;
  font-size: 22px;
  font-weight: 400;
  line-height: 11px;
}

/* line 205, ../sass/main_styles.scss */
label {
  color: #000;
  float: right;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 210, ../sass/main_styles.scss */
label .fa-phone {
  font-size: 23px;
  color: #171c61;
}

/* line 215, ../sass/main_styles.scss */
input {
  display: none;
}

/* line 216, ../sass/main_styles.scss */
input:checked + #info-mobile {
  display: none;
}

/*end dropdown filter*/
/*end menu*/
/*---------------------------------------*/
/*slider*/
/* line 221, ../sass/main_styles.scss */
.slider {
  margin-top: 0;
}
/* line 224, ../sass/main_styles.scss */
.slider .swiper-container {
  width: 100%;
}
/* line 227, ../sass/main_styles.scss */
.slider .swiper-container .slider-title {
  margin: 16px auto 12px;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  line-height: 12px;
  color: #4183d7;
}
/* line 234, ../sass/main_styles.scss */
.slider .swiper-container .slider-title span {
  color: #f9690e;
}
/* line 240, ../sass/main_styles.scss */
.slider .slider-container-main {
  position: relative;
}
/* line 242, ../sass/main_styles.scss */
.slider .slider-container-main .slider-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 465px;
  background-image: linear-gradient(to right, white 0%, transparent 100%);
}
/* line 254, ../sass/main_styles.scss */
.slider .swiper-slide {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
/* line 274, ../sass/main_styles.scss */
.slider .swiper-slide .swiper-button-next,
.slider .swiper-slide .swiper-button-prev {
  display: none !important;
}
/* line 279, ../sass/main_styles.scss */
.slider .swiper-slide img {
  width: auto;
  height: 100%;
  margin-left: 100%;
}
@media (min-width: 768px) {
  /* line 279, ../sass/main_styles.scss */
  .slider .swiper-slide img {
    margin-left: 50%;
  }
}
@media (min-width: 1024px) {
  /* line 279, ../sass/main_styles.scss */
  .slider .swiper-slide img {
    margin-left: 0;
  }
}
/* line 294, ../sass/main_styles.scss */
.slider .swiper-slide .slide-desc {
  left: 0;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 50%;
  height: 100%;
  display: inline-block;
  background-image: linear-gradient(to right, white 0%, transparent 100%);
}
/* line 305, ../sass/main_styles.scss */
.slider .swiper-slide .slide-desc .content-desc {
  max-width: 305px;
  width: 100%;
  padding: 10px;
  position: absolute;
  padding-left: 12px;
  bottom: 0;
  left: 0;
  text-align: left;
}
/* line 316, ../sass/main_styles.scss */
.slider .swiper-slide .slide-desc .content-desc > h1 {
  color: black;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}
/* line 323, ../sass/main_styles.scss */
.slider .swiper-slide .slide-desc .content-desc > p {
  margin-top: 25px;
  color: #d72828;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
/* line 330, ../sass/main_styles.scss */
.slider .swiper-slide .slide-desc .content-desc > p a.more:hover {
  text-decoration: underline;
}

/*--------------------------------*/
/* line 338, ../sass/main_styles.scss */
.services {
  padding: 18px 0 24px;
  background: #fff;
}
/* line 342, ../sass/main_styles.scss */
.services .services-title {
  margin: 0 auto;
  text-align: center;
  color: #f9690e;
  font-size: 19px;
  font-weight: 300;
  line-height: 16px;
}
/* line 350, ../sass/main_styles.scss */
.services .services-list {
  width: 100%;
  margin: 27px auto 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-align-content: center;
  align-content: center;
}
/* line 365, ../sass/main_styles.scss */
.services .services-list li {
  width: 49%;
  height: 200px;
  margin: 0 0 38px;
  text-align: center;
}
/* line 371, ../sass/main_styles.scss */
.services .services-list li .img-link {
  display: block;
  max-width: 103px;
  max-height: 103px;
  width: 100%;
  height: 100%;
  margin: 0 auto 30px;
  text-align: center;
  border-radius: 100%;
  overflow: hidden;
}
/* line 382, ../sass/main_styles.scss */
.services .services-list li .img-link img {
  max-width: 100%;
  height: auto;
}
/* line 388, ../sass/main_styles.scss */
.services .services-list li .sign-link {
  max-width: 120px;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
  color: #4183d7;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  line-height: 14px;
}

/*--------------------------*/
/*--------------------------*/
/* line 406, ../sass/main_styles.scss */
.about-eurocare {
  padding: 26px 0 23px;
  background-color: #4183d7;
}
/* line 410, ../sass/main_styles.scss */
.about-eurocare .eurocare-content {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

/*--------------------------*/
/*--------------------------*/
/* line 421, ../sass/main_styles.scss */
.pre-footer {
  padding: 34px 0 33px;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
  border-top: 3px solid #4183d7;
}
/* line 428, ../sass/main_styles.scss */
.pre-footer .site-phone {
  margin: 0 auto;
  text-align: center;
  color: #f9690e;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
}
/* line 436, ../sass/main_styles.scss */
.pre-footer .site-location {
  width: 155px;
  margin: 27px auto 31px;
  text-align: center;
  color: #f9690e;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
/* line 445, ../sass/main_styles.scss */
.pre-footer .social-icons {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}
/* line 451, ../sass/main_styles.scss */
.pre-footer .social-icons li {
  display: inline-block;
  margin: 0 15px;
}
/* line 455, ../sass/main_styles.scss */
.pre-footer .social-icons li:first-child {
  margin-left: 0;
}
/* line 458, ../sass/main_styles.scss */
.pre-footer .social-icons li:last-child {
  margin-right: 0;
}
/* line 462, ../sass/main_styles.scss */
.pre-footer .social-icons li a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 467, ../sass/main_styles.scss */
.pre-footer .social-icons li .facebook {
  background: url("../images/facebook.png") no-repeat;
}
/* line 470, ../sass/main_styles.scss */
.pre-footer .social-icons li .twitter {
  background: url("../images/twitter.png") no-repeat;
}
/* line 473, ../sass/main_styles.scss */
.pre-footer .social-icons li .google {
  background: url("../images/google.png") no-repeat;
}

/*--------------------------*/
/*--------------------------*/
/* line 481, ../sass/main_styles.scss */
footer {
  background-color: #dbdada;
}
/* line 486, ../sass/main_styles.scss */
footer .copyright h1 {
  margin: 0 auto;
  text-align: center;
  color: #4183d7;
  font: 400 9px / 20px 'Tahoma', sans-serif;
}
/* line 492, ../sass/main_styles.scss */
footer .copyright h1 a {
  color: #4183d7;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 497, ../sass/main_styles.scss */
footer .copyright h1 a:hover {
  text-decoration: underline;
}

/*--------------------------*/
/*---------------inside page--------------*/
/*--------------------------*/
/* line 507, ../sass/main_styles.scss */
.direction {
  padding: 12px 0 8px;
  background-color: #4183d7;
}
/* line 511, ../sass/main_styles.scss */
.direction a {
  text-decoration: none;
}
/* line 515, ../sass/main_styles.scss */
.direction .direction-img {
  float: left;
}
/* line 518, ../sass/main_styles.scss */
.direction .direction-title {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

/* line 528, ../sass/main_styles.scss */
.testimonials-item {
  width: 100%;
  margin: 26px auto 0;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 4px dotted #4183d7;
}
/* line 536, ../sass/main_styles.scss */
.testimonials-item .img-block {
  display: block;
  max-width: 140px;
  max-height: 139px;
  margin: 24px auto 0;
  text-align: center;
  overflow: hidden;
}
/* line 544, ../sass/main_styles.scss */
.testimonials-item .img-block img {
  max-width: 100%;
  height: auto;
}
/* line 549, ../sass/main_styles.scss */
.testimonials-item .item-title {
  margin: 23px auto 19px;
  text-align: left;
  color: #4183d7;
  font-size: 22px;
  font-weight: 400;
  line-height: 20px;
}
/* line 557, ../sass/main_styles.scss */
.testimonials-item .item-description {
  margin: 0 auto 19px;
  text-align: left;
  color: #4d4c4c;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

/* line 566, ../sass/main_styles.scss */
.testimonials-navigation {
  width: 100%;
  margin: 0 auto;
  padding: 31px 0 0;
  text-align: center;
}
/* line 572, ../sass/main_styles.scss */
.testimonials-navigation .numeric-nav {
  padding-bottom: 15px;
  border-bottom: 1px solid #4183d7;
}
/* line 576, ../sass/main_styles.scss */
.testimonials-navigation .numeric-nav .nav-list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 580, ../sass/main_styles.scss */
.testimonials-navigation .numeric-nav .nav-list li {
  display: inline-block;
  margin: 0 5px;
}
/* line 584, ../sass/main_styles.scss */
.testimonials-navigation .numeric-nav .nav-list li:first-child {
  margin-left: 0;
}
/* line 587, ../sass/main_styles.scss */
.testimonials-navigation .numeric-nav .nav-list li:last-child {
  margin-right: 0;
}
/* line 591, ../sass/main_styles.scss */
.testimonials-navigation .numeric-nav .nav-list li a {
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  color: #6d6f6f;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 598, ../sass/main_styles.scss */
.testimonials-navigation .numeric-nav .nav-list li a:hover {
  color: #4183d7;
}
/* line 608, ../sass/main_styles.scss */
.testimonials-navigation .word-nav .last,
.testimonials-navigation .word-nav .next {
  display: block;
  margin-top: 13px;
  color: #626262;
  font: 400 18px / 25px 'Roboto', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}
/* line 617, ../sass/main_styles.scss */
.testimonials-navigation .word-nav .last {
  float: left;
}
/* line 620, ../sass/main_styles.scss */
.testimonials-navigation .word-nav .next {
  float: right;
}

/* line 627, ../sass/main_styles.scss */
.form-section .form-title,
.feedback-section .form-title {
  margin: 64px auto 13px;
  text-align: center;
  color: #4183d7;
  font-size: 18px;
  font-weight: 700;
  line-height: 14px;
}
/* line 636, ../sass/main_styles.scss */
.form-section #feedback-form,
.feedback-section #feedback-form {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 642, ../sass/main_styles.scss */
.form-section .name,
.form-section .email,
.form-section .tel,
.form-section .topic,
.feedback-section .name,
.feedback-section .email,
.feedback-section .tel,
.feedback-section .topic {
  display: block;
  width: 100%;
  height: 33px;
  margin: 13px auto;
  padding-left: 10px;
  color: #6d6f6f;
  font-size: 18px;
  font-weight: 400;
  background-color: white;
  border: 1px solid #4183d7;
  box-sizing: border-box;
}
/* line 660, ../sass/main_styles.scss */
.form-section ::-webkit-input-placeholder,
.feedback-section ::-webkit-input-placeholder {
  color: #6d6f6f;
  font-size: 18px;
  font-weight: 400;
}
/* line 666, ../sass/main_styles.scss */
.form-section :-moz-placeholder,
.feedback-section :-moz-placeholder {
  /* Firefox 18- */
  color: #6d6f6f;
  font-size: 18px;
  font-weight: 400;
}
/* line 672, ../sass/main_styles.scss */
.form-section ::-moz-placeholder,
.feedback-section ::-moz-placeholder {
  /* Firefox 19+ */
  color: #6d6f6f;
  font-size: 18px;
  font-weight: 400;
}
/* line 678, ../sass/main_styles.scss */
.form-section :-ms-input-placeholder,
.feedback-section :-ms-input-placeholder {
  color: #6d6f6f;
  font-size: 18px;
  font-weight: 400;
}
/* line 683, ../sass/main_styles.scss */
.form-section .message,
.feedback-section .message {
  width: 100%;
  height: 99px;
  padding: 10px 0 0 10px;
  background-color: white;
  border: 1px solid #4183d7;
  box-sizing: border-box;
  color: #6d6f6f;
  font-size: 18px;
  font-weight: 400;
  resize: none;
}
/* line 695, ../sass/main_styles.scss */
.form-section .required,
.feedback-section .required {
  text-align: left;
  color: #6d6f6f;
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
}
/* line 703, ../sass/main_styles.scss */
.form-section .send-button,
.feedback-section .send-button {
  display: block;
  width: 288px;
  height: 35px;
  margin: 0 auto 25px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  line-height: 35px;
  cursor: pointer;
  background-color: #f9690e;
}

/* line 719, ../sass/main_styles.scss */
.contact-content .contact-list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}
/* line 725, ../sass/main_styles.scss */
.contact-content .contact-list li {
  display: block;
  margin: 20px auto;
  text-align: left;
  color: #4d4c4c;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
/* line 733, ../sass/main_styles.scss */
.contact-content .contact-list li span {
  font-weight: 700;
}

/*--------------------------*/
/*--------------------------*/
