@font-face {
  font-family: 'Tahoma';
  src: url('Tahoma.woff2') format('woff2'),
       url('Tahoma.woff') format('woff'),
       url('Tahoma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

